<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
LOGO
<nav>
    <a href="/index.html">Home</a>
    <a href="/sobre.html">Sobre</a>
    <a href="/portfolio.html">Portfolio</a>
    <a href="/contato.html">Contato</a>
</nav>
<br>
<h1>Agora é com voc^3</h1>
<p>Acreditamos que um café pode ser o inicio de um grande projeto.</p>
<br>
<br>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
<a href="">(61) 99254-1355</a>
<a href="mailto:contato@dromini.com.br">contato@dromini.com.br</a>
<br>
<form action="">
    <input type="text" placeholder="Qual o seu nome?">
    <input type="email" placeholder="E o seu email?">
    <input type="tel" placeholder="Agora o Whatsapp">
    <textarea name="msg" id="msg_text" cols="30" rows="10" placeholder="Me fale um pouco sobre a sua empresa."></textarea>
</form>
<br>
<p>Copyright  2018 - Dromini Design & Web</p>

</body>
</html>