<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

</head>
<body>
    <header class="navbar">
        <img src="/assets/img/logo-horizontal.svg" class="logo" alt="Dromini LOGO">
        <nav class="menu">
            <a class="menu-item current-menu-item" href="/views/index.html">Home</a>
            <a class="menu-item" href="/views/sobre.html">Sobre</a>
            <a class="menu-item" href="/views/portfolio.html">Portfolio</a>
            <a class="menu-item" href="/views/contato.html">Contato</a>
        </nav>
    </header>
    <section class="hero">
        <div class="hero-microcopy">
            <h1 class="microcopy__title">Mostre sua <span>marca</span> para  o mundo!</h1>
            <p class="microcopy__subtitle">O mercado hoje é digital e sua empresa precisa estar preparada para isso.</p>
            <a  class="btn btn--light">Deixe com a gente</a>
        </div>
    </section>
    <main class="container">

        <section class="about">
            <div class="heading">
                <h2 class="heading-title">O que fazemos por você</h2>
                <div class="stripe"></div>
                <p class="heading-subtitle">Desde <span>2014</span> ajudamos empresas e pequenos negócios com seus primeiros passos no mundo digital, criamos designes que cheguem ao público com maior eficiência e promovam o engajamento para assim fazer sua marca crescer ainda mais.</p>
            </div>
            <div class="services">
                <div class="services-box col-1-3">
                    <h3>Websites</h3>
                    <ul>
                        <li><p>Sites responsivos</p></li>
                        <li><p>Blogs em wordpress</p></li>
                        <li><p>Landing pages</p></li>
                        <li><p>Vitrines online</p></li>
                    </ul>
                </div>
                <div class="services-box col-1-3">
                    <h3>Branding</h3>
                    <ul>
                        <li><p>Design de marcas</p></li>
                        <li><p>Manual de marca</p></li>
                        <li><p>Material Impresso</p></li>
                    </ul>
                </div>
                
                <div class="services-box col-1-3">
                    <h3>Parcerias</h3>
                    <ul>
                        <li><p>Marketing Digital</p></li>
                        <li><p>Fotografia</p></li>
                        <li><p>Sistemas Web</p></li>
                        <li><p>Aplicativos mobile</p></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="cases">
            <div class="heading">
                <h2 class="heading-title">Um pouco do que fizemos</h2>
                <div class="stripe"></div>
                <p class="heading-subtitle">Nós ajudamos empresas e pequenos negócios com seus primeiros passos no mundo digital, criamos designes que cheguem ao público com maior eficiência e promovam o engajamento para assim fazer sua marca crescer ainda mais.</p>
            </div>
            <div class="gallery">
                <a class="gallery__item col-1-2">
                    <img src="/assets/img/bg-hero.jpg" alt="">
                </a>
                <a class="gallery__item col-1-2">
                    <img src="/assets/img/bg-hero.jpg" alt="">
                </a>
                <a class="gallery__item col-1-2">
                    <img src="/assets/img/bg-hero.jpg" alt="">
                </a>
                <a class="gallery__item col-1-2">
                    <img src="/assets/img/bg-hero.jpg" alt="">
                </a>
            </div>
            <div class="flex-center">
                <a href="" class="btn btn--big btn--primary">Alguns outros</a>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="heading--center">
        <h2 class="heading-title--footer">Sua marca não está sendo vista?</h2>
        <a href="" class="btn btn--light">Vamos tomar um café</a>
        </div>
        <div class="copyright">
            <p>Copyright  2018 - Dromini Design & Web</p>
        </div>
    </footer>

</body>
</html>