<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
LOGO
<nav>
    <a href="/index.html">Home</a>
    <a href="/sobre.html">Sobre</a>
    <a href="/portfolio.html">Portfolio</a>
    <a href="/contato.html">Contato</a>
</nav>
<br>
<h1>Sobre a Dromini</h1>
<p>Somos um estúdio online com foco em elevar o valor de sua empresa com todo o suporte que temos</p>
<br>
<h2>History time</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam suscipit cum error vero, nobis, excepturi iste libero odio aut similique, numquam repellat! Dignissimos quo accusantium eaque. Modi necessitatibus eveniet culpa?</p>
<br>
CTA 
<p>Quer aprender novas skills para entrar no mercado de trabalho?<br>Em breve estaremos abrindo vagas para cursos individuais e online para você aprender sem sair de casa.</p>
<p>EM BREVE</p>
<br>
<h2>Eles confiaram em nós</h2>
<p>Temos o prazer de ter ao nosso lado empresas como essas que confiaram em nosso potencial e hoje estão no mercado alcançando seus objetivos.</p>
Logos de clientes
<h2>Parcerias</h2>
<p>Nossa carta na manga é ter parceiros de vários setores para poder atender ainda mais suas necessidades e conseguir seu tão sonhado sucesso no mercado de trabalho.</p>
Logos de parceiros
<br>
<h2>Quer ser um parceiro?</h2>
<p>Estamos aceitando novos contatos e empresas que queiram ser nossas parceiras, caso esteja interessado em participar desse network nos mande um email e mandaremos mais informações.</p>
<a href="">Chegue mais!</a>
<br>
<p>Copyright  2018 - Dromini Design & Web</p>

</body>
</html>