@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  display: inline-block;
  text-decoration: none;
  color: unset; }

/*=================================
    Typography
=================================*/
/* Global Typography */
body {
  font-size: 1.1rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5rem;
  letter-spacing: 0.05rem; }

p {
  color: #666666; }

/*======================================
     Gallery 
======================================*/
.col-1-2 {
  width: calc(50% - 2rem);
  margin-bottom: 2rem; }

.gallery {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto; }

/*========================================
    PÁGINA INICIAL
 =======================================*/
