/*=================================
    ABSTRACT
=================================*/
/*=================================
    BASE
=================================*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900|Roboto:400,700,900");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  display: inline-block;
  text-decoration: none;
  color: unset; }

/* Global Typography */
body {
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6em;
  letter-spacing: 0.05em; }

h2, h3,
h4, h5,
h6 {
  font-family: 'Lato', sans-serif; }

p {
  color: #666666; }

/*=================================
    COMPONENTS
=================================*/
/* NAVBAR */
.navbar {
  width: calc(100% - (3rem * 2));
  max-width: 1500px;
  height: 5rem;
  margin: 0 auto;
  padding: 0.9rem 1rem; }
  .navbar::after {
    display: table;
    content: '';
    clear: both; }
  .navbar .logo {
    height: 3.2rem;
    float: left; }
  .navbar .menu {
    float: right; }
    .navbar .menu .menu-item {
      padding: .9rem;
      font-size: 1.2rem;
      color: #666666;
      transition: all 200ms; }
      .navbar .menu .menu-item.current-menu-item {
        color: #008200; }
      .navbar .menu .menu-item.current-menu-item {
        color: #008200; }

/* CONTAINER */
.container {
  width: 70vw;
  max-width: 1200px;
  margin: 0 auto; }

/* BUTTONS */
.btn {
  text-transform: uppercase;
  padding: 1.2rem 3rem;
  border: 2px solid;
  box-shadow: 2px 4px 6px rgba(51, 51, 51, 0.25);
  transition: all 200ms; }
  .btn:hover {
    transform: translateY(-3px); }
  .btn:active {
    transform: translateY(-1px); }

/* Gallery-grid */
.col-1-2 {
  width: calc(50% - 2rem);
  margin-bottom: 2rem; }

.gallery {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto; }

/*=================================
    LAYOUT
=================================*/
/* HERO */
.hero {
  width: calc(100% - (3rem * 2));
  height: calc(100vh - 5rem);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #008200 0%, rgba(41, 194, 41, 0.8) 100%), url("/assets/img/bg-hero.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }
  .hero .hero-microcopy {
    width: 70vw;
    max-width: 1500px;
    color: #f2f2f2; }
    .hero .hero-microcopy .microcopy__title {
      margin-bottom: 2vh;
      font-size: 5.5vw;
      line-height: 1.2em;
      font-weight: 800;
      letter-spacing: 0.08em;
      text-transform: uppercase; }
      .hero .hero-microcopy .microcopy__title span {
        color: #333333; }
    .hero .hero-microcopy .microcopy__subtitle {
      width: 70%;
      font-size: 1.7vw;
      line-height: 1.2em;
      color: #f2f2f2;
      margin-bottom: 4vh; }

/*=================================
    PAGES
=================================*/
